/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    padding-left: 10px;
}
.head{
    /* background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url()no-repeat; */
    
    background-size: 20%;
    background-size: cover;
    background-position: fixed;
}
button{
    background-color: red;
    font-size: 13px;
    height: 20px;
    margin-top: 2.5rem;
    padding: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.head{
    /* mask-image: linear-gradient(to left, transparent, rgb(0, 0, 0) 50%); */
}
select{
    font-size:14px;
}
/* Modal styling here */

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    padding: 20px;
    border-radius: 5px;
   width: 50%;
   box-shadow: 2px 1px 8px 7px rgba(0, 0, 0, 0.5);

}
.modal >button{
    background-color: green;
    color: white;
    width: 20%;
    height: 20%;
    font-size: 15px;
    border-radius: 10px;
}
.modal > h2{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: green;
}
.modal span{
    color: rgb(5, 62, 5);
    font-weight: 600;
}
.modal p{
    font-weight: 700;
    font-size: 20px;
}
.modal >button:hover{
    background-color: rgb(3, 11, 3);
}
@media only screen and (max-width: 390px){
    .modal{
        width: 80%;
    }
    .modal >button{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }
    select{
        font-size:10px;
    }
    .chapter,.unit,.zone,.headquarters{
        font-size: 10px;
    }
}

@media (max-width:500px) {
    /* div,section{
    overflow-y:hidden;
    } */
   .header > h1{
    text-align: center;
   }
    
    select{
        font-size:10px;
    }
    .chapter,.unit,.zone,.headquarters{
        font-size: 10px;
    }
}