/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    padding-left: 10px;
}
.head{
    /* background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url()no-repeat; */
    
    background-size: 20%;
    background-size: cover;
    background-position: fixed;
}
button{
    background-color: red;
    font-size: 13px;
    height: 20px;
    margin-top: 2.5rem;
    padding: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
}